---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2022",
    title: "Aplication DEV ETCETC",
    description: "sdmkkkkkkkkkkkkkkkkkkkkkkkkkkdkmskmdsk",
    link: "#",
  },
  {
    date: "Actualmente",
    title: "Aplication DEV ETCETC",
    description: "sdmkkkkkkkkkkkkkkkkkkkkkkkkkkdkmskmdsk",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
